@import url('https://fonts.googleapis.com/css2?family=Abel&family=Tapestry&display=swap')

.home-title {

    font-family: "Rock Salt", "Bradley Hand", "sans-serif";
    font-size: 2em;
    margin-top: 10px;
}

#logo_link{
    padding-top: 15px;
    justify-self: center;
}

body{
    align-self: center;
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}


h2 {
    margin:0;
}




div{
    max-width: 1600px;
    margin: 0 auto;
}

div.a {
    text-align: center;
}


#hero-msg h1{
    text-align: center;
} 

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}


#background {
    height: 725px;
}



header {
    background-color:rgba(20,30,13, .7);
}

nav a{
 background-color: #020a12;
 text-align: center;
 color:#f5dede;
 text-decoration: none;
 padding: 35px;
}

nav a:hover {
    background-color: #2a9d8f;
    color: #d9c2a3;
}

.home-title{
    background-color: #003566;
}

h4{
    background-color: #2a9d8f;
}

.book, .join{
    background-color: #a2d2ff;
    color:#fcfbfb;
    text-decoration: none;
    font-size:18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;    
}

.card-img{
    border: 10px solid#d9c2a3;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.book:hover, .join:hover{
    background-color: #003566;
}
.msg h2{
    background-color: #a2d2ff;
}


#background{
    background-color: #a2d2ff;
}


.msg {
    background-color: #b3c28b;
    line-height: 1.5em;
    padding: 35px;
}

.msg p{
    background-color: #2a9d8f;
    padding-bottom: 15px;
}



footer{
    background-color: #2a9d8f;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    background-color: #a2d2ff;
    text-align: center;
    color:#fcfbfb;
}

footer a:hover{
    background-color: #a2d2ff;
}

footer p{
    font-size: 1.2em;
}

footer .social img {
 padding-top: 15px;
}

#logo_link{
    padding-top: 5px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer p a:hover {
    text-decoration: underline;
}